{
  "globals": {
    "CONFIG": true,
    "CHAR_WIDTH": true
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": 0
  },
  "plugins": [
    "react",
    "no-jquery"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:no-jquery/recommended",
    "plugin:no-jquery/deprecated-2.2",
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
    }
  },
  "parser": "espree"
}

