@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Fira Sans Light'), url("/static/fonts/FiraSans-Light.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url("/static/fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), url("/static/fonts/FiraSans-Medium.woff") format('woff');
}

body {
    font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
}
html {
    height: 100%;
}

.small_button {
    font: bold 0.85em courier;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    border-radius: 0.3em;
    border: 1px solid black;
    cursor: pointer;
}
.button {
    font-size: 0.85em;
    display: inline-block;
    text-align: center;
    width: 5em;
    height: 2em;
    line-height: 2em;
    border-radius: 0.3em;
    border: 1px solid black;
    margin-right: 1em;
    background-color: #f0f0f0;
    cursor: pointer;
}
#link_back {
    display: inline-block;
    margin-right: 1em;
    text-decoration: underline;
    cursor: pointer;
    visibility: hidden;
}

#div_header {
    width: 100%;
    border-bottom: 2px solid black;
    background-color: white;
    opacity: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    position: fixed;
}
#div_main {
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #f8f8f0;
    min-height: 100%;
    font-size: small;
}
#div_message {
    margin-bottom: 20px;
}
#div_stdout {
    margin-bottom: 20px;
}
#div_std_label {
    font-weight: 600;
    margin-left: 8px;
}

.div_diagnostic {
    margin-top: 5px;
    margin-left: 10px;
}
.group_children {
    display: block;
    margin-top: 5px;
    margin-bottom: -10px;
}
.div_children {
    display: block;
    margin-left: 40px;
}
.div_children_dots {
    margin-left: 30px;
    position: relative;
    top: -10px;
}
.div_diagnostic_nested {
    display: block;
    margin-top: -10px;
}
.group_children>.small_button {
    display: block;
    position: relative;
    top: 5px;
}

.div_spans {
    position: relative;
    top: 2px;
}

.level_error {
    color: red;
}
.level_warning {
    color: gold;
}
.level_note {
    color: green;
}
.level_help {
    color: green;
}

a.issue_link, a.link {
    text-decoration: underline;
    cursor: pointer;
}
a.issue_link:link, a.link    { color: black }
a.issue_link:visited, a.link { color: black }
a.issue_link:hover, a.link   { color: black }
a.issue_link:active, a.link  { color: black }

.span_loc {
    display: inline-block;
    margin-left: 10px;
    font-family: monospace;
    text-decoration: underline;
    cursor: pointer;
}
.span_src {
    display: inline-block;
    margin-left: 50px;
    font-family: monospace;
    font-size: medium;
    white-space: pre;
}
.err_code {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}
#div_err_code {
    margin-left: 20px;
}
#div_err_code_explain {
    margin-top: 30px;
    max-width: 700px;
    font-size: medium;
}

.separator {
    width: 85%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#div_src_view {
    font-family: monospace;
    margin-top: -10px;
    margin-left: -15px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.div_src_line_numbers {
    display: inline-block;
    border-right: black 1px solid;
}
.div_src_line_number {
    display: block;
    padding-right: 3px;
    text-align: right;
    width: 3em;
    color: #808080;
}
.div_src_lines {
    display: inline-block;
    width: calc(100% - 3em - 4px);
}
.div_src_line {
    display: block;
    white-space: pre;
    padding-left: 1em;
}
.src_highlight {
    font-weight: bold;
}
.selected {
    background-color: #f3f3a5;
}

/* Syntax highlighting */
#div_src_view .kw { color: #8959A8; }
#div_src_view .kw-2, #div_src_view .prelude-ty { color: #4271AE; }
#div_src_view .number, #div_src_view .string { color: #718C00; }
#div_src_view .boolval, #div_src_view .prelude-val,
#div_src_view .attribute, #div_src_view .attribute .ident { color: #C82829; }
#div_src_view .macro, #div_src_view .macro-nonterminal { color: #3E999F; }
#div_src_view .lifetime { color: #B76514; }
#div_src_view .comment, #div_src_view .doccomment { color: #808080; }

#div_options {
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: #f8f8f0;
    border: solid black 1px;
    border-radius: 6px;
    border-top-left-radius: 0;
    padding: 10px;
    z-index: 1;
}
#link_close_options {
    float: right;
}

#div_src_menu {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #f8f8f0;
    border: solid black 1px;
    border-radius: 6px;
    border-top-left-radius: 0;
    padding: 10px;
    z-index: 1;
}
.src_menu_link {
    text-decoration: underline;
    cursor: pointer;    
}

#div_quick_edit {
    position: absolute;
    background-color: #f8f8f0;
    border: solid black 1px;
    border-radius: 6px;
    border-top-left-radius: 0;
    padding: 10px;
    z-index: 1;
}
#quick_edit_text {
    width: 800px;
    height: 250px;
}
