<div id="div_dir_view">
    {{> bread_crumbs }}
    <div id="div_dir_contents">
        {{#each files}}
            {{#if (def kind.Directory)}}
                <div class="div_entry">
                    <span class="div_entry_name div_dir_entry">{{name}}</span>
                </div>
            {{else}}
                <div class="div_entry">
                    <span class="div_entry_name div_file_entry">{{name}}</span>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
