<div id="div_err_code">
    <h2 id="err_code_header">{{code}}</h2>

    <div id="div_err_code_explain">
        {{#if explain}}
            {{{explain}}}
        {{else}}
            No further explaination for this error code.
        {{/if}}
    </div>

    <hr class="separator">

    <div id="div_err_code_error">
        {{{error}}}
    </div>
</div>
